/****=====Variable Styles=====***/
/*Colors*/
$primarycolor:#000271;
$primarycolorhover:#01038f;
$greencolor:#0cb70c;
$greencolorhover:#04ae04;
$redcolor:#e21d0e;
$redcolorhover:#d41406;
$orangecolor:#f18a00;
$orangecolorhover:#e28100;
$titleprimarycolor:#313131;
$titlesecondaryrycolor:#111;
$titlesemicolor:#777;
$fontnormalcolor:#313131;
$reddeepcolor:#ff1414;
$orangedeepcolor:#ff7d0c;
$bluecolor:#1e96ff;
